body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.display {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 2em;
    text-align: right;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    box-sizing: border-box; /* Includes padding in width calculation */
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns of equal width */
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #666;
    color: white;
    transition: background-color 0.1s;
}

button:hover {
    background-color: #777;
}

.operator {
    background-color: orange;
}

.operator:hover {
    background-color: #ff9900;
}

.equal {
    background-color: darkgreen;
    grid-column: span 1;
}

.equal:hover {
    background-color: #008000;
}